<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Pollution</title>
  <script src='https://cdn.jsdelivr.net/npm/chart.js'></script>
</head>

<body>
  <center>
    <h1>Data for Comparision of Pollution Parameters between cities</h1>
    <canvas id="aqi" width="400" height="100" aria-label="AQI for cities" role="img"></canvas>
    <canvas id="co" width="400" height="100" aria-label="AQI for cities" role="img"></canvas>
    <canvas id="dew" width="400" height="100" aria-label="AQI for cities" role="img"></canvas>
    <canvas id="h" width="400" height="100" aria-label="AQI for cities" role="img"></canvas>
    <canvas id="no2" width="400" height="100" aria-label="AQI for cities" role="img"></canvas>
    <canvas id="p" width="400" height="100" aria-label="AQI for cities" role="img"></canvas>
    <canvas id="pm10" width="400" height="100" aria-label="AQI for cities" role="img"></canvas>
    <canvas id="pm25" width="400" height="100" aria-label="AQI for cities" role="img"></canvas>
    <canvas id="t" width="400" height="100" aria-label="AQI for cities" role="img"></canvas>
    <canvas id="w" width="400" height="100" aria-label="AQI for cities" role="img"></canvas>
    <script>
    window.addEventListener('load', async function main(){
        parameters = ["aqi", "co", "dew", "h", "no2", "o3", "p", "pm10", "pm25","t", "w"]
        parameters.forEach(param => renderChart(param));
    });  

    async function renderChart(parameter){
        response=await fetch(`/analytics/${parameter}`);
        data = await response.json();
        console.log(data);
        const cfg = {
            type: 'bar',
            data: {
                datasets: [{
                    label: parameter.toUpperCase(),
                    data: data,
                    parsing: {
                        xAxisKey: 'city',
                        yAxisKey: parameter
                        }
                    }
                ]
            }
        }
        var mychart = document.getElementById(parameter);
        new Chart(mychart, cfg);
    }
    </script>
  </center>
</body>
</html>